export VUE_APP_API_KEY=AIzaSyD6zvmsQ9hyXcyqip6HT7WMCSSFJ8Xkjkw
export VUE_APP_AUTH_DOMAIN=wakadata-bbca9.firebaseapp.com
export VUE_APP_PROJECT_ID=wakadata-bbca9
export VUE_APP_STORAGE_BUCKET=wakadata-bbca9.appspot.com
export VUE_APP_MESSAGING_SENDER_ID=850442454120
export VUE_APP_APP_ID=1:850442454120:web:75bb2db9a825858889a7dd