
// Element UI フォント規定
h2 {
  font-weight: 400;
  font-size: 22px;
  color: #1f2d3d;
  margin: 0;
}

p {
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
}

// レイアウト用
.center {
  text-align: center;
}

.right {
  text-align: right;
}