
// Element UI フォント規定
h2 {
  font-weight: 400;
  font-size: 22px;
  color: #1f2d3d;
  margin: 0;
}

p {
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
}

// レイアウト用
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.el-container {
  max-width: 1000px;
  padding: 50px;
  margin: 0 auto;
  display: block !important;
}

.el-form {
  margin: 30px 0;
}

.el-tabs__header {
  margin-bottom: 30px;
}

.annotation {
  font-size: 12px;
  color: #C0C4CC;
  display: block;
}

.required {
  font-size: 12px;
  color: #F56C6C;
  display: block;
}

.register-book {
  text-align: right;
  &_annotation {
    display: inline-block;
    padding-right: 10px;
  }
  .el-button.is-circle {
    padding: 8px;
  }
}

.register-submit {
  padding-top: 30px;
}